<h1>Listado de Responsables</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @responsables.each do |responsable| %>
  <tr>
    <td><%= responsable.nombre %></td>
    <td><%= responsable.email %></td>
    <td><%= link_to 'Show', responsable %></td>
    <td><%= link_to 'Edit', edit_responsable_path(responsable) %></td>
    <td><%= link_to 'Destroy', responsable, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Responsable', new_responsable_path %>
